mixin post(data, shortmode)
  if shortmode
    article.post
      header.container.split
        h2= data.title
        span.post-date= data.date.toDateString()
      hr
      - let content = marked(data.body);
      - let jumpPost = content.indexOf('#hitthejump');
      - let shortContent = jumpPost > 0 ? content.substr(0, jumpPost) : content.split('\n').slice(0, 3).join('\n');
      section!= shortContent
      a(href='/blog/' + data.id) full article
  else
    article.post
      header.container.split
        h2= data.title
        span.post-date= data.date.toDateString()
      hr
      section!= marked(data.body.replace('#hitthejump', ''))